/* ============= */
/*    Imports    */
/* ============= */
/* ============ */
/*    Shared    */
/* ============ */
@import "./variables.css";
@import "./fonts.css";


/* ================ */
/*    Components    */
/* ================ */
@import "./navigation.css";
@import "./footer.css";


/* =========== */
/*    Pages    */
/* =========== */
@import "./activity.css";
@import "./connected-organizations.css";
@import "./personal-data.css";



/* ======================= */
/*    Mobile-first body    */
/* ======================= */
body {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 18fr 1fr;
  grid-template-areas: 
    "header header header"
    "nav    nav    nav"
    ".      banner ."
    ".      main   ."
    "footer footer footer";
  min-height: 100vh;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  margin: 0;
}
  


/* ============ */
/*    Banner    */
/* ============ */
#banner {
  grid-area: banner;
}
#banner div {
  color: var(--link-c);
  background-color: var(--nav-bg-c);
  border-color: var(--link-c);
  border-radius: var(--bord-rad);
  border-style: solid;
  border-width: 1px;
  margin: 1em 0 0;
  padding: 1em;
  text-align: center;
}
  


/* ========== */
/*    Main    */
/* ========== */
#main {
  font-size: 80%;
  grid-area: main;
  margin-top: 3rem;
}

.value {
  font-size: 85%;
}

button {
  border: none;
  padding: 0.5em;
  text-decoration: underline;
}


  
/* =========== */
/*    Table    */
/* =========== */
table {
  width: 100%;
}

th {
  text-align: left;
  padding: 0.5em;
  word-wrap: break-word;
}

td {
  text-align:left;
  padding: 0.5em 0.5em 0 0.5em;
  word-wrap: break-word;
  border-top: solid 1px var(--table-border);
  vertical-align: top;
}

th a, td a {
  text-decoration: none;
}

.dropdown {
  float: right;
}



/* ================== */
/*    Dropdown-box    */
/* ================== */
.dropdown-toggle {
  display: none;
}

.dropdown-container {
  padding:0;
  border:none;
  display:table-cell;
}

.dropdown-label {
  float: right;
  height: 1.25em;
  position: relative;
  top: -1.5em;
}

/*
.dropdown-toggle:checked ~ .dropdown-label:first-of-type {
  border: 3px solid black;
}
*/

.dropdown-box {
  background-color: var(--caption-bg-c);
  display:none;
  padding: 0.5em 0.5em 0.5em 1em;
}

.dropdown-toggle:checked ~ div.dropdown-box:first-of-type {
  display: block;
}

.dropdown.actions {
  margin-top: 0.5em;
}



/* =========== */
/*    Popup    */
/* =========== */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: var(--heading-text-c);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--heading-text-c) transparent transparent transparent;
}
.popup .show {
  visibility: visible;
}



/* ============ */
/*    Alerts    */
/* ============ */
/* ======================= */
/*    Alert message box    */
/* ======================= */
.alerts .alert {
  padding: 20px;
  margin-bottom: 15px;
}


/* ================== */
/*    Close button    */
/* ================== */
.close-btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.close-btn:hover {
  color: black;
}


/* ============== */
/*    Dropdown    */
/* ============== */
.dropbtn {
  background-color: #3C4A94;
  color: var(--main-bg-c);
  font-family: var(--main-font-family);
  padding: 0.4em;
  font-size: 100%;
  border: none;
  cursor: pointer;
  width: 10em;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3C4A94;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: var(--main-bg-c);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 80%;
  font-family: var(--main-font-family);
}
.dropdown-content a:hover {
  background-color: #4f5c9b;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #4f5c9b;
}

.center {
  text-align: center;
}



/* ================ */
/*    Pagination    */
/* ================ */
.pagination {
  height: 2em;
}
.pagination a, .asd {
  color: var(--link-c);
  padding: 1em;
  margin: 0 1em;
  text-decoration: none;
  font-size: 120%;
  font-family: var(--main-font-family);
}
.pagination .page {
  color: var(--link-c);
  font-size: 120%;
  font-family: var(--main-font-family);
}
 


/* ======================== */
/*    Desktop provisions    */
/* ======================== */
@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-rows: 4em auto auto auto;
    grid-template-columns: 4fr 0.5fr 16fr 0.5fr;
    grid-template-areas: 
      /* "header header header header" */
      "nav .      banner ."
      "nav .      main   ."
      "nav footer footer footer";
    min-height: 100vh;
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    margin: 0;
  }

  
  header {
    display: none;
  }

  #nav {
    background-color: var(--nav-bg-c);
    box-shadow: 
      rgba(0, 0, 0, 0.16) 0px -6px 6px, 
      rgba(0, 0, 0, 0.23) 0px -6px 6px;
    display: block;
    padding: 1rem 1.5rem;
    text-align: center;

    grid-area: nav;
  }

  #logo {
    display: block;
  }

  #user {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #user span {
    font-size: 65%;
  }

  nav {
    margin-left: 0;
    padding: 0;
    width: 100%;
  }
  nav > ul {
    width: 100%;

    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  nav > ul > li {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 85%;  
    font-variant: normal;
    margin: 0.5rem 0;
    /* padding-left: 1em; */
  }
  nav > ul > li > a {
    background-color: white;
    border-radius: var(--bord-rad);
    box-shadow: 
      rgba(0, 0, 0, 0.16) 0px 3px 6px, 
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: var(--link-c);
    display: flex;
    flex-direction: row;
    justify-items: center;
    overflow: hidden;
    padding: 0 0.5rem;
    text-decoration: none;
    transition: 
      background-color 0.3s ease,
      box-shadow 0.3s ease,
      color 0.3s ease;
    width: 100%;
  }
  nav > ul > li > a:hover {
    background-color: var(--link-c);
    box-shadow:
      rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, 
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    color: white;
  }

  .navicon {
    align-content: center;
    /* display: inline-grid; */
    display: inline;
    justify-content: center;
    min-width: 3em;
    min-height: 2.5em;
  }

  .navlabel {
    align-items: center;
    /* color: var(--link-c); */
    display: flex;
    font-size: 85%;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 2.5em;
    text-align: left;
  }

  .nav-toggle ~ nav {
    display: block;
  }

  .nav-toggle-label {
    display: none;
  }


  footer > div:first-child {
    grid-template-areas: 
      "geant-section  eu-section";
    grid-template-columns: 1fr 1fr;
  }

  #idGeantSection {
    margin-top: 0;
  }

  #idGeantSection img {
    width: 30%;
  }
  
  #idEuSection img {
    width: 40%;
  }  
}
