
<div class="dropdown actions">
    <button class="dropbtn">{% trans %}Actions{% endtrans %} ▾</button>
    <div class="dropdown-content">
        <a href="{{ csvUrl|default('?csv')  }}">{% trans %}Export to CSV{% endtrans %}</a>
    </div>
</div>
