<header>
    <div id="logo"><img src="{{ asset('css/src/icons/fppp-logo.svg', 'accounting') }}" alt="Profile Page Logo"/></div>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>