{# @var menuManager \SimpleSAML\Module\accounting\Services\MenuManager #}
{# @var menuItem \SimpleSAML\Module\accounting\Services\MenuManager\MenuItem #}
{# @var csrfToken \SimpleSAML\Module\accounting\Services\CsrfToken #}

<div id="nav">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav role="navigation" aria-label="XXX-pagedesc-XXX">
        <ul>
            {% for menuItem in menuManager.items %}
                <li>
                    <a href="{{ menuItem.hrefPath }}">
                        {% if menuItem.iconAssetPath %}
                            <span class="navicon">
                                <img src="{{ asset(menuItem.iconAssetPath, 'accounting') }}"
                                     alt="{{ menuItem.label|trans }} Icon"/>
                            </span>
                        {% endif %}
                        <span class="navlabel">{{ menuItem.label|trans }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>