<div id="nav">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav role="navigation" aria-label="XXX-pagedesc-XXX">
        <ul>
            <li>
                <a href="#">
                        <span class="navicon">
                            <img src="{{ asset('css/src/icons/prof-page.svg', 'accounting') }}"
                                 alt="Personal Data Icon">
                        </span>
                    <span>Personal Data</span>
                </a>
            </li>
            <li>
                <a href="#">
                        <span class="navicon">
                            <img src="{{ asset('css/src/icons/conn-orgs.svg', 'accounting') }}"
                                 alt="Connected Organizations Icon">
                        </span>
                    <span>Connected Organizations</span>
                </a>
            </li>
            <li>
                <a href="#">
                        <span class="navicon">
                            <img src="{{ asset('css/src/icons/activity.svg', 'accounting') }}"
                                 alt="Activity Page Icon">
                        </span>
                    <span>Activity Page</span>
                </a>
            </li>
            <li>
                <a href="#">
                        <span class="navicon">
                            <img src="{{ asset('css/src/icons/logout.svg', 'accounting') }}"
                                 alt="Logout Icon">
                        </span>
                    <span>Log Out</span>
                </a>
            </li>
        </ul>
    </nav>
</div>