{# @var connectedServiceProviderBag \SimpleSAML\Module\accounting\Entities\ConnectedServiceProvider\Bag #}
{# @var connectedServiceProvider \SimpleSAML\Module\accounting\Entities\ConnectedServiceProvider #}

{% extends "@accounting/base.twig" %}

{% set pagetitle = 'Connected organizations'|trans %}

{% block content %}

    <h2>{{ pagetitle }} </h2>

    <section id="banner">
        <div>
            {% trans %}This is what we know about you...{% endtrans %}
        </div>
    </section>

    <table>
        <tbody>
        <tr>
            <th>Name</th>
            <th>All access</th>
            <th>Last access</th>
        </tr>
        {% for connectedServiceProvider in connectedServiceProviderBag.getAll %}
            <tr>
                <td>{{ connectedServiceProvider.getServiceProvider.getName }}</td>
                <td>{{ connectedServiceProvider.getNumberOfAuthentications }}</td>
                <td>{{ connectedServiceProvider.getLastAuthenticationAt|date() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

    </ul>

{% endblock %}
